*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
  background-color: rgb(0 104 74);
  display: flex;
  justify-content:space-between;
}

.nav1 {
  display: flex;
  align-items: center;
}

.nav2 {
  display: flex;
  padding: 10px;
  gap: 20px;
  color: white;
  align-items: center;

}


.nav2 button {
  background-color: rgb(177 255 5);
  border: none;
  border-radius: 15px;
  height: 30px;
  width: 50px;

}

.nav2 p {
  color: white;
}

.nav2 a {
  text-decoration: none;
  display: flex;
  gap: 5px;
  align-items: center;
  color: rgb(233 255 153);
}

.nav3 {
  color: white;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 30px;

}

.mainnav {



  padding: 20px;
  display: flex;
  align-items: center;


}


.childnav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.childnav a {

  text-decoration: none;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.childnav img {
  width: 12%;
}





.childnav button {

  background-color: rgb(0 237 100);
  width: 140px;
  height: 50px;
  padding: 10px;
  border: black 1px solid;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}



.childnav button:hover {


  border-radius: 25px;
}

.navbar1{
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 50px;


}
.navbar2 h3{
  font-size:20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar3{
  display: flex;
  gap: 50px;
  
  

}


.navbar4 {
  
  text-decoration: none;
  color: black;
  flex-direction: column;
  
  font-size: 15px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}




.hero-section {
  background: #022b36;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 120px;
}

.hero-left {
  max-width: 480px;
}

.hero-left h1 {
  font-size: 54px;
  font-weight: 600;
}

.hero-desc {
  margin-top: 20px;
  font-size: 19px;
  line-height: 28px;
  opacity: 0.9;
}

.button-group {
  margin-top: 35px;
  display: flex;
  align-items: center;
  
  gap: 25px;
}

.btn-primary {
  background: #00ed64;
  padding: 14px 30px;
  border-radius: 6px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.btn-primary:hover{
  border-radius: 25px;
}

.btn-secondary {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.hero-right img {
  width: 460px;
}


.slalom-section {
  background: #022b36;
  padding: 100px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  color: white;
}

.slalom-left img {
  width: 480px;
  display: block;
}

.slalom-right {
  max-width: 520px;
}

.slalom-right h2 {
  font-size: 48px;
  font-weight: 600;
  font-family: Georgia, serif;
  margin-bottom: 25px;
}

.slalom-right p {
  font-size: 18px;
  line-height: 1.7;
  opacity: 0.9;
  margin-bottom: 25px;
}

.slalom-link {
  color: #00ed64;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}


@media (max-width: 992px) {
  .hero-section,
  .slalom-section {
    flex-direction: column;
    text-align: center;
    padding: 60px 30px;
  }

  .hero-right img,
  .slalom-left img {
    width: 320px;
    margin-top: 40px;
  }

  .slalom-right,
  .hero-left {
    max-width: 100%;
  }
}